<div class="maintenance-bg">
  <div class="hill-right"></div>
  <div class="hill-left"></div>
  <div class="shadow-right"></div>
  <div class="shadow-left"></div>
</div>
<div class="maintenance-tractor"></div>
<div class="maintenance-text">
  <h1>Under Maintenance</h1>
  <p>Stay up to date with Travis CI by <a href="#" title="Travis CI on Twitter">following us <span class="icon-twitter"></span></a></p>
</div>
